### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/m1-generics.iml
/java-version-updates-practice.iml
/.idea/
/m1-generics/target/
/m2-enum/target/
/m3-lambda/target/
/m4-double_colon_operators/target/
/m5-comparator_interface/target/
/m6-stream/target/
/m7-optional-bigdecimal/target/
/m8-new-version-updates/target/
